@import 'https://necolas.github.io/normalize.css/6.0.0/normalize.css';
*:before, *, *:after { margin: 0px; padding: 0px; }

.nav { position: absolute; background-color: grey; width: 100%; height: 70px; }

.nav > div { position: relative; float: right; top: 50%; transform: translateY(-50%); }

.nav > div > a { border: solid 2px white; border-radius: 4px; background-color: #f1f1f1; padding: 10px; margin-left: 10px; margin-right: 10px; color: black; text-decoration: none; text-transform: uppercase; }

.nav > div > a:hover { border: solid 2px black; }

.nav > div > a > i { display: inherit; }


.header-box-one > form, .header-box-two > form { width: 300px; background-color: white; margin: auto; position: relative; top: 50%; transform: translateY(-50%); text-align: center; padding: 30px; }

.header-box-one > form > div, .header-box-two > form > div { text-align: right; padding-bottom: 15px; }

.header-box-one > form > div > i, .header-box-two > form > div > i { font-size: 20px; color: #555555; cursor: pointer; }

.header-box-one > form > input, .header-box-two > form > input { margin-bottom: 15px; padding: 5px; outline: none; }

.header-box-one > form > input:last-child, .header-box-two > form > input:last-child { margin-bottom: 10px; cursor: pointer; }


.content-box { width: 300px; height: 400px; margin: 15px; text-align: center; background-color: blue; }

.content-box > div { margin: 5px; background-color: white; height: 97%; }

.content-box > div > img { margin: 5px; width: 200px; height: 150px; overflow: hidden; }

.content-box > div > h3 { padding-bottom: 5px; }

.content-box > div > p { padding: 5px; }

.content-box > div > h6 { padding: 5px; }

.content-box > div > a { background-color: Grey; color: white; text-transform: uppercase; font-size: 1.1em; text-decoration: none; margin: 5px; padding: 5px; width: 100px; height: 80px; border-radius: 4px; }

.hiden { display: none; }

.clear { clear: both; }
