{{#each anime}} 
        <div class="content-box">
             <div>
                 <img src="{{this.img}}" alt="{{this.name}} ">
                 <h3>{{this.name}}</h3>
                 <p>{{this.about}}</p>
             </div>
        </div>
 {{/each}} 