@import url("https://fonts.googleapis.com/css?family=Roboto|Raleway");
*:before, *, *:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background: linear-gradient(to right, #667eea, #764ba2);
}

.nav {
  background-color: #fff;
  box-shadow: 0px 1px 5px #888888;
  width: 100%;
  height: 55px;
}

.nav > div:first-child {
  position: relative;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 15px;
}

.nav > div:first-child > a > img {
  width: 130px;
}

.nav > div:last-child {
  position: relative;
  float: right;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 15px;
}

.nav > div:last-child > a {
  cursor: pointer;
  border: solid 1px #00c7ff;
  border-radius: 25px;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.nav > div:last-child > a:hover {
  transition: 0.28s;
  box-shadow: 1px 1px 2px #888888;
}

.nav > div:last-child > a:active {
  border: solid 1px #51D88B;
}

.nav > div:last-child > a > i {
  display: inherit;
}

.header-box-one, .header-box-two {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
}

.header-box-one > form, .header-box-two > form {
  width: 350px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px #00c7ff;
  box-shadow: 5px 5px 15px #464646;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 30px;
}

.header-box-one > form > div, .header-box-two > form > div {
  text-align: right;
  padding-bottom: 15px;
}

.header-box-one > form > div > i, .header-box-two > form > div > i {
  transition: 0.5s;
  font-size: 22px;
  color: #00c7ff;
  cursor: pointer;
}

.header-box-one > form > div:hover > i, .header-box-two > form > div:hover > i {
  transition: 0.28s;
  font-size: 22px;
  color: #9C56B8;
  cursor: pointer;
}

.header-box-one > form > div:active > i, .header-box-two > form > div:active > i {
  font-size: 22px;
  color: #E84C3D;
  cursor: pointer;
}

.header-box-one > form > input, .header-box-two > form > input {
  border: none;
  border-color: #00c7ff;
  border-bottom: 1px solid;
  margin-bottom: 15px;
  padding: 5px;
  outline: none;
  background-color: white;
}

.header-box-one > form > input:first-child:focus, .header-box-one > form > input:nth-child(2):focus, .header-box-two > form > input:first-child:focus, .header-box-two > form > input:nth-child(2):focus {
  box-shadow: 1px 0px 1px #888888;
}

.header-box-one > form > input:nth-child(3), .header-box-two > form > input:nth-child(3) {
  width: 100%;
}

.header-box-one > form > input:last-child, .header-box-two > form > input:last-child {
  border: solid 1px #00c7ff;
  border-radius: 25px;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.slider-content {
  max-width: 1250px;
  height: 550px;
  margin: auto;
  overflow: hidden;
}

.content {
  background-color: #fff;
  max-width: 1250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 10%;
  min-height: 100vh;
}

.content-box {
  width: 200px;
  height: 300px;
  padding: 7px;
  margin: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 5px #888888;
  cursor: pointer;
}

.content-box:active {
  box-shadow: 1px 1px 10px #888888;
}

.content-box > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-box > div > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-box > div > h3 {
  position: relative;
  background-color: rgba(241, 241, 241, 0.7);
  padding-bottom: 5px;
  padding-top: 5px;
  top: -34px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-shadow: 0px 0px 10px white;
}

.content-box > div > p {
  position: relative;
  background-color: rgba(241, 241, 241, 0.7);
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-shadow: 0px 0px 10px white;
  width: 100%;
  height: 100%;
}

.content-box > div > h6 {
  padding: 5px;
}

.content-box > div > a {
  background-color: Grey;
  color: white;
  text-transform: uppercase;
  font-size: 1.1em;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  width: 100px;
  height: 80px;
  border-radius: 4px;
}

.content-box > div:hover > p {
  position: relative;
  background-color: rgba(241, 241, 241, 0.7);
  padding-top: 5px;
  top: -335px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-shadow: 0px 0px 10px white;
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.footer > div {
  padding: 15px;
}

.footer > div > a {
  background-color: #464646;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 5px;
  padding: 5px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}

.content-anime {
  justify-content: initial;
}

.content-anime > h2 {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-20%);
}

.content-anime > p {
  width: 991px;
  margin: auto;
}

.box-anime {
  width: 250px;
  height: 370px;
  position: relative;
  left: 100px;
}

.content-error > img {
  min-width: 700px;
  margin-bottom: 25px;
}

.content-error > h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}

.content-error > p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
}

.content-error > a {
  text-decoration: none;
  font-size: 1.1em;
  color: #000;
  font-weight: 100;
}

.hiden {
  display: none;
}

.clear {
  clear: both;
}
