<h2>{{this.post_title}}</h2>
    <div class="content-box box-anime">
        <div>
            <img src="{{this.post_img}}" alt="{{this.post_title}}">
        </div>
    </div>
<p>{{this.post_content}}</p>