<div class="footer">
    <p>CopyRight &copy; 2017 - <spam>Ningun video se encuentra alojado en nuestros servidores.</spam></p>
    <div><a href="#">Terminos y condiciones</a> <a href="#">Politica de Privacidad</a> <a href="#">Sobre AnimeB</a></div>
</div>