<nav class="nav">
    <div>
        <a href="home.php"><img src="view/main/img/Anime-Logo.jpg" alt="Logo-Site"></a>
    </div>
<!--<div>
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>-->
    <div>
        <a id="signin" >Sign In</a>
        <a id="signup">Sign Up</a>
    </div>
</nav>
<div id="signin-box" class="header-box-one hiden">
    <form id="signin-form" method="post" onkeypress="runScriptLogin(event)" >
        <div><i id="signin-close" class="fa fa-close"></i></div>
        <input type="text" name="user" placeholder="Username"><br>
        <input type="password" name="pass" placeholder="Password"><br>
        <input type="button" value="SIGN IN" onclick="goLogin()">
    </form>    
</div>
<div id="signup-box" class="header-box-two hiden">
    <form id="signup-form" method="post" onkeypress="runScriptLogup(event)">
        <div><i id="signup-close" class="fa fa-close"></i></div>
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="lname" placeholder="Lastname"><br>
        <input type="text" name="mail" placeholder="E-mail"><br>
        <input type="text" name="user" placeholder="Username"><br>
        <input type="password" name="pass" placeholder="Password"><br>
        <input type="button" value="SIGN UP" onclick="goLogup()">     
    </form>
</div>