{{#each anime}}
<a href="?view=anime&anime={{this.ID}}" target="_blank">       
        <div class="content-box">
             <div>
                 <img src="{{this.post_img}}" alt="{{this.post_title}} ">
                 <h3>{{this.post_title}}</h3>
             </div>
        </div>
</a>         
{{/each}} 