{{#each anime}} 
        <div class="content-box">
             <div>
                 <img src="{{this.post_img}}" alt="{{this.post_title}} ">
                 <h3>{{this.post_title}}</h3>
                 <p>{{this.post_content}}</p>
             </div>
        </div>
 {{/each}} 